/***** Estilos para el sitio web Marte *****/
:root {
    --text-color: rgb(0,0,0);
    --text-light-color: rgb(255,255,255);
    --contrast-color: rgb(189, 55, 0);
    --bg-dark-color: rgb(0,0,0);
    --bg-white-color: rgb(255,255,255);
    --bg-light-color: rgba(0,0,0,0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  

    font-family: 'Alegreya', serif;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.5;
}

h1, h2 {   
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
}


p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

a {
    color: var(--contrast-color);
    text-decoration: none;
    border: none;
}

    a:hover {
        color: var(--text-color);
        text-decoration: none;
        border: none;
    }

cite {
    font-style: normal;
}

abbr {
    text-decoration: none;
}

/* Para quitar el borde de los videos*/
iframe {
    border: 0;
}

img {
    max-width: 100%;
    display: block;
}



/*Clases*/

.center {
    text-align: center;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.img-fluid {
    max-width: 100%;
}



/****************************
Contenedores del sitio
*****************************/
header {
    height: 18vh;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    background: var(--bg-white-color);
}

footer {
    height: 90vh;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--bg-dark-color);
    color: var(--text-light-color);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
}





/*
Las reglas que a continuación consiguen que los contenidos dentro del elemento de class .container adapten a los diversos dispositivos.
La class .container define un contenedor que ocupa el 100% de la pantalla del dispositivo, con un relleno por la izquierda y por la derecha de 15 píxeles, y márgenes por la izquierda y por la derecha automáticos, para conseguir un diseño centrado .
A continuación utilizamos media queries, un módulo de CSS3 que permite adaptar la representación del contenido a las características del dispositivo y que se estudia en la unidad 5.
Con las 4 media queries utilizadas indicamos la anchura máxima que el .container debe tener cuando los dispositivos tengan la anchura mínima indicada por el punto de rotura (breakpoint).
*/
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;

}
  
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
}
  
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
}
  
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}
  
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}




/*************************
Contenido del footer
**************************/
footer {
    font-size: 0.8rem;
    color: var(--text-light-color);
}
footer p {
    font-size: inherit;
}

/* la palabra newsletter */
footer span{
    font-style:italic;
}

    footer div {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }



footer a {
    color: inherit;
    border: none;
}

footer a:hover {
    color: var(--contrast-color);
    border: none;
}
    footer ul {
        list-style-type: none;
        margin-top: 35px;
        margin-bottom: 35px;
    }

footer ul li {
    display: inline-block;
    padding-right: 5px;
}

footer ul li::after {
    content: "     ";
    padding-left: 10px;
}

.intro{
    font-size:2.5rem;
}


/* Form en el footer */
form {

    margin: 0 auto;
    width: 60%;
}



form ul li {
    display: block;
}



/* La linea decorativa */
form label.linehover
{
	width: 100%;
	border-bottom: 1px solid var(--text-light-color);
	padding-bottom: 5px;
    display: block;
	margin-bottom: .5rem;

}

input[type="email"] {
    text-align: center;
    border: none;
    background-color: var(--bg-dark-color);
    color: var(--text-light-color);
    padding: 15px;
    font-size: 1.3rem;
    margin-top: 1.5rem;
}




input[type="submit"] {
    display: inline-block;
    width: auto;
    margin-top: 25px;
    padding: 15px 20px;
    background-color: var(--bg-white-color);
    color: var(--text-color);
    border: none;
    text-transform: uppercase;
}

    input[type="submit"]:hover {
        background-color: var(--contrast-color);
        color: var(--text-light-color);
        cursor: pointer;
        border: none;
    }



/****************************
Menú de navegación del sitio
*****************************/
body header {
    background-color: transparent;
}
body h1 {
    font-size: 3rem;
    line-height: 1.2;
}



body nav ul li {
    font-size: 1.3rem;
}

/* Links Header*/
header a {
    color: inherit;
    border: none;
}


/* elemento activo del menu de navegación */
.active {

    font-weight: 700;
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 3px solid var(--text-color);
}

header a:hover {
    color: var(--contrast-color);
}

header a.active:hover {
    font-weight: 800;
    text-decoration: none;
    color: var(--contrast-color);
    border-bottom: 3px solid var(--contrast-color);
}



body  main p {
    font-size: 1.3rem;
}



header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}




    nav ul {
        list-style: none;
        font-size: 0.9rem;
        text-align: center;
        padding: 0;
        margin: 0;
    }



nav ul li {
    font-size: 1.1rem;
    font-weight: 400;
    padding-left: 0;
}

@media (min-width: 768px) {

    header img {
        display: block;
        margin-left: 0;
    }

    nav {
        text-align: left;
    }

        nav ul {

            font-size: 0.9rem;
            text-align: left;
            padding: 0;
            margin: 0;
        }

        nav ul li {
            display: inline-block;
            font-size: 1.1rem;
            font-weight: 400;
            padding-left: 0;
        }

            nav ul li::after {
                content: " ";
                width: 10px;
                padding-right: 5px;
            }
   
}
   
 

/****************************
Videos
*****************************/

.video-fluid {
    position: relative;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
   
}

iframe.video-fluid-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
   
}

.video-fluid::before {
    display: block;
    content: "";
    padding-top: 56.25%;
}



figcaption {
    font-size: 0.9rem;
    padding-top: 15px;
    text-align: center;
}






/****************************
Página de Inicio
*****************************/

/*Sección 1*/
.hero {
    background-color: var(--bg-dark-color);
    color: var(--text-light-color);
    background-image: url(../img/bg-hero-mars.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    height: 20rem;
    padding-top: 15px;
}

.banner {
    margin-top: 60px;
}

section.hero p {
    margin-top: 15px;
    font-weight: 400;
    font-style: italic;
}

/*Sección 2*/
section h2{
    margin-bottom:0px;
}

figure a {
    display:block;
    font-size: 2rem;
    font-weight: 700;
    margin: 20px 0px 15px 15px;
}

figure p{
    margin: 20px 15px;
}

@media (min-width: 768px) {

    .mission-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0px;
    }

            .mission-list figure:nth-of-type(odd) {
                background-color: var(--bg-light-color);
            }


}

/****************************
Página Mars 2020
*****************************/

/* Menú Secundario*/

.bold {
    font-weight: 800;
}

aside {
    font-family: 'Open Sans', sans-serif;
}


aside div{
    text-transform:uppercase;
    margin-bottom:1.5rem;
    margin-top:1.5rem;
}

aside ul {
    list-style: none;

}

    aside ul li a {
        color: var(--contrast-color);
        text-decoration: none;
        border: none;
    }

        aside ul li a:hover {
            color: rgb(0,0,0);
        }

/* Artículo */
article {
    text-align: justify;
    
}
    article h2 {
        text-align: left;
    }

    /* Guiones para separar palabras al final*/
article p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }



    article ul {
        list-style: square outside ;
        
        margin-bottom: 1.5rem;
        font-size:1.3rem;
    }

    article ul li{
        margin-left:35px;
    }

article figcaption {
   background-color:transparent;

}

/* areas del grid */
    @media (min-width: 768px) {

        .container-mission {
            display: grid;
            grid-template-areas: "sidebar content";
            grid-template-columns: 1fr 3fr;
        }

        aside {
            grid-area: sidebar;
        }

        article {
            grid-area: content;
        }
    }

/****************************
Página Ciencia Ficción
*****************************/

div.book-list {
    margin-top: 1.5rem;
}

.book-list div, .book-list blockquote {
    background-color: var(--bg-light-color);
    padding: 10px;
}
.book-title {
font-weight: 700;
font-size: 2.7rem;
    }

blockquote p {
    font-style: italic;
}

div.book-list cite {
    font-weight: 700;
    font-size: 1.2rem;
}

div.book-list cite::before {

    content: "";
    background-color: var(--contrast-color);
    width: 28px;
    height: 5px;
    display: inline-block;
    margin-right: 5px;
}


    @media (min-width: 768px) {
        .book-list {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-gap: 20px;
        }

            
    }

/****************************
Página Cine
*****************************/

div.movie-list {
    margin-top: 1.5rem;
}

div.movie-list figcaption {
    padding-top: 15px;
    padding-bottom:30px;
    background-color: var(--bg-light-color);
}

div.movie-list cite {
    font-weight:700;
    font-size:1.2rem;

}

    @media (min-width: 768px) {

        .movie-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px 20px;
        }

}

    
    
    
